<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.pages.VIEWORDERS">{{ mainTitle }}</h1>
			<span class="mainDescription">Below are the products ordered</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: SIMPLE TABLE WITH PAGINATION -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<h5 class="over-title margin-bottom-15">Site <span class="text-bold">orders</span></h5>
			<!-- /// controller:  'ngTableCtrl' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
			<div ng-controller="orders">
			<p class="alert alert-info">
			Click on the order number to view more details on the order
			
			</p>
				
				<table ng-table="tableParams" class="table table-striped">
					<tr ng-repeat="order in orders">
						<td data-title="'Order Number'">{{order.orderno}}</td>
						<td data-title="'First Name'">{{order.fname}}</td>
						<td data-title="'SurName'">{{order.sname}}</td>
						<td data-title="'Address description'">{{order.address}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- end: SIMPLE TABLE WITH PAGINATION -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>					
<!-- end: YOUR CONTENT HERE -->