<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.pages.VIEWPRODUCTS">{{ mainTitle }}</h1>
			<span class="mainDescription">Below are the products on site</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<div class="col-md-12">
	<div class="panel panel-white" id="panel1">
		<div class="container-fluid container-fullw">
			<div class="row">
				<div class="col-md-10">
					<div class="panel panel-white">
						<div class="panel-heading">
							<h5 class="panel-title">UNDER DEVELOPMENT</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: YOUR CONTENT HERE -->