<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" translate="sidebar.nav.pages.VIEWPRODUCTS">{{ mainTitle }}</h1>
			<span class="mainDescription">Below are the products on site</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<div class="col-md-12">
	<div class="panel panel-white" id="panel1">
		<div class="container-fluid container-fullw">
			<div class="row">
				<div class="col-md-15">
					<div class="panel panel-white">
						<!-- start: TABLE WITH FILTERS -->
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h5 class="over-title margin-bottom-15">Products <span class="text-bold">Table</span></h5>
			<div ng-controller="ngTableCtrl">
			<div ng-controller="product">
				<table ng-table="tableParams" class="table table-striped" template-pagination="custom/pager">
					<tr ng-repeat="product in products">
						<td data-title="'Product Name'" > {{product.name}} </td>
						<td data-title="'Category Name'">{{product.category_name}}</td>
						<td data-title="'Subcategory Name'">{{product.sub_category_name}}</td>
						<td data-title="'Price'">{{product.price}}</td>
					</tr>
				</table>
				<script type="text/ng-template" id="custom/pager">
					<ul class="pager ng-cloak">
					<li ng-repeat="page in pages"
					ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
					ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
					<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
					<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
					</li>
					<li>
					<div class="btn-group">
					<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
					<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
					<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
					<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
					</div>
					</li>
					</ul>
				</script>
			</div>
		</div>
		</div>
		</div>
	</div>
</div>
<!-- end: TABLE WITH FILTERS -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>					