<table class="table no-bg">
	<tr>
		<td rowspan="2">ID: {{user._id}}
		<input type="hidden" name="id" value="{{user._id}}">
		</td>
		<td>Firstname:</td>
        <td>
        <input class="form-control" type="text" name="fname" class="w100" ng-model="user.fname">
        </td>
        <td>Surname: </td>
        <td>
        <input class="form-control" type="text" name="sname" class="w180" ng-model="user.sname">
        </td>
	</tr>
	<tr>
		<td>Email:</td>
        <td>
        <input class="form-control" type="text" name="email" class="w180" ng-model="user.email">
        </td>
        <td>Phone: </td>
        <td>
        <input class="form-control" type="text" name="phone" class="w120" ng-model="user.phone_number">
        </td>
		<td colspan="2">
		<div class="pull-right">
			<input type="button" class="btn btn-primary btn-sm margin-right-15" value=" save " onclick="alert('Save :)')">
			<input type="button" class="btn btn-primary btn-sm" value=" cancel" ng-click="setEditId(-1)">
		</div></td>
	</tr>
</table>
<!--  class="editRowTd" -->
