<!-- start: SEARCH FORM -->
<div class="search-form">
	<a class="s-open" href="#">
		<i class="ti-search"></i>
	</a>
	<form class="navbar-form" role="search">
		<a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
			<i class="ti-close"></i>
		</a>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="{{ 'sidebar.search.PLACEHOLDER' | translate }}">
			<button class="btn search-button" type="submit">
				<i class="ti-search"></i>
			</button>
		</div>
	</form>
</div>
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span translate="sidebar.heading.MENU">Menu</span>
</div>
<ul class="main-navigation-menu">

	<!-- Dashboard -->
	<li ui-sref-active="active" class="module">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>

	<!-- Products -->
	<li ng-class="{'active open':$state.includes('app.products')}" class="module">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.element.PRODUCTS"> Products </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">

		<li ui-sref-active="active">
				<a ui-sref="app.products.viewproducts">
					<i class="ti-hand-point-right"></i>
					<span class="title" translate="sidebar.nav.products.view_products"> View Products </span>
				</a>
			</li>
			
		<li ui-sref-active="active">
				<a ui-sref="app.products.addproduct">
					<i class="ti-hand-point-right"></i>
					<span class="title" translate="sidebar.nav.products.add_product"> Add products </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a href="javascript:;">
					<i class="ti-bar-chart-alt"></i>
					<span translate="sidebar.nav.element.REPORTS">Reports</span> <i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">
					<li>
						<a href="#" translate="sidebar.nav.products.report1">
							Report 1
						</a>
					</li>
					<li>
						<a href="#" translate="sidebar.nav.products.report2">
							Report 2
						</a>
					</li>
					<li>
						<a href="#" translate="sidebar.nav.products.report3">
							Report 3
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>

	<!-- Categories -->
	<li ng-class="{'active open':$state.includes('app.categories')}" class="module">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pencil-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.element.CATEGORIES"> Categories </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
		<li ui-sref-active="active">
				<a ui-sref="app.categories.addcategory">
					<i class="ti-hand-point-right"></i>
					<span class="title" translate="sidebar.nav.categories.add_categories"> Add categories </span>
				</a>
			</li>
		</ul>
	</li>
	<!-- Pharmacy -->
	
	<!-- Orders -->
	<li ng-class="{'active open':$state.includes('app.orders')}" class="module">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pencil-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.element.ORDERS"> Orders </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
		<li ui-sref-active="active">
				<a ui-sref="app.orders.vieworders">
					<span class="title" translate="sidebar.nav.orders.view_orders"> View Orders </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a href="javascript:;">
					<i class="ti-bar-chart-alt"></i>
					<span translate="sidebar.nav.element.REPORTS">Reports</span> <i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">
					<li>
						<a href="#" translate="sidebar.nav.orders.report1">
							Report 1
						</a>
					</li>
					<li>
						<a href="#" translate="sidebar.nav.orders.report2">
							Report 2
						</a>
					</li>
					<li>
						<a href="#" translate="sidebar.nav.orders.report3">
							Report 3
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<!-- Users -->
	<li ng-class="{'active open':$state.includes('app.users')}" class="module">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.element.USERS"> Users </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.users.viewusers">
					<span class="title" translate="sidebar.nav.users.view_users"> View Users </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.users.adduser">
					<span class="title" translate="sidebar.nav.users.add_user"> Add User </span>
				</a>
			<li ui-sref-active="active">
				<a href="javascript:;">
					<i class="ti-bar-chart-alt"></i>
					<span translate="sidebar.nav.element.REPORTS">Reports</span> <i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">
					<li>
						<a href="#" translate="sidebar.nav.users.report1">
							Report 1
						</a>
					</li>
					<li>
						<a href="#" translate="sidebar.nav.users.report2">
							Report 2
						</a>
					</li>
					<li>
						<a href="#" translate="sidebar.nav.users.report3">
							Report 3
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
<!-- end: MAIN NAVIGATION MENU -->

<!-- start: CORE FEATURE -->
<div class="navbar-title">
	<span translate="sidebar.heading.SELF_SERVICE">Self Service</span>
</div>
<ul class="folders">
	<li>
		<a ui-sref="app.pages.messages">
			<div class="item-content">
				<div class="item-media">
					<span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.pages.MESSAGES"> Messages </span>
				</div>
			</div>
		</a>
	</li>
</ul>
<!-- end: CORE FEATURE -->
